.btn-block {
    width: auto;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .alert-danger {
        position: absolute;
        top: 65%;
    }
}

