.btn-block {
    width: auto;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.container {

    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.registation-form__content {
    display: flex;

}

@media (min-width: 768px) {
    .registation-form__logo {
        max-width: 500px;
    }

    .SignIn-form__form {
        min-width: 500px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }


}

@media (max-width: 767px) {
    registation-form__title {
        font-size: 22px;
    }
}