.welcome-screen {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 100px 0;
    height: 100%;
}

.welcome-screen__logo {
    width: 80%;
}

.welcome-screen__text {
    color: #002936;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 10px;
    margin-bottom: 70px;
}

.welcome-screen__text h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.welcome-screen__forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media screen and (min-width: 1024px) {
    .welcome-screen {
        flex-direction: row;
        height: 100vh;
    }

    .welcome-screen__logo {
        margin: -50px 0 0;
        width: 80%;
    }

    .welcome-screen__text {
        width: 50%;
        padding: 0 30px;
    }

    .welcome-screen__forms {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



