.ad {
    display: none;
}

@media (min-width: 768px) {
    .ad {
        border: 1px solid black;
        display: block;
        position: absolute;
        right: 0;
        width: 10%;
        height: inherit;
        box-sizing: border-box;
        margin-right: 5px;
    }

    .ad img {
        width: 100%;
    }
}