.categories {
    /*position: absolute;*/
    margin-top: 70px;
    box-shadow: none;
}

.categories__item {
    padding-left: 30px;
    font-weight: 800;
    border: 1px solid #cbd6da;
    background-color: #dce7eb;
}

.categories__item:hover {
    cursor: pointer;
}

.categories__brand {
    display: none;
    font-weight: 500;
    padding-left: 15px;
}

.categories__item:hover li {
    display: block;
}

@media screen and (min-width: 768px) {
    .categories {
        width: 200px;
        position: absolute;
        left:0;
        top: 50px;
        box-shadow: none;
    }
}