.nav-bar {
    background-color: #dce7eb;
    background-image: none;
    border-radius: 0 0 4px 4px;
    padding: 0 10% 0;
}

.navbar-default .nav-bar__right > li > a {
    color: #0A5894;
}

.navbar-default .nav-bar__right > li > a:hover {
    color: #002936;
}

@media screen and (min-width: 768px) {
    .nav-bar {
        padding: 0 50px 0;
        display: flex;
        align-items: center;
    }

    .nav-bar__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 30px !important;
    }

    .nav-bar__right {
        margin-right: 30px;
        display: flex;
        align-items: center;
    }
}