.no-items-found {
    color: grey;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.no-items-found__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    min-height: 300px;
}

.no-items-found__message {
    font-weight: 600;
    font-size: 18px;
}

@media (min-width: 768px) {
    .no-items-found__message {
        font-size: 25px;
    }

    .no-items-found__advice {
        font-size: 18px;
    }
}