.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.registration--container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.registation-form__content {
    display: flex;

}

.registation-form__logo {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .registation-form__logo {
        max-width: 500px;
    }

    .registation-form__form {
        min-width: 500px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

}

@media (max-width: 767px) {

    .registation-form__title {
        font-size: 22px;
    }
}