.logo img {
    display: flex;
    height: 40px;
    padding-left: 10%;
}


.top--navbar .navbar--contaiter{
    display: block;
}

.form-control {
    height: 50px;
    font-size: 18px;
}

.navbar {
    min-height: 70px;
    margin-bottom: 0;
}

.navbar-form {
    display: flex;
}

.navbar-toggle {
    margin-top: 15px;
}

.search--form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-form .form-group {
    width: 80%;
}

.search-button {
    background-image: linear-gradient(to bottom, #4683B2 0%, #04365C 100%);
    height: 50px;
}

.search-button:hover {
    background-image: linear-gradient(to bottom, #0A5894 0%, #0a5994 100%);
    background-color: #0a5994;
}

.search-button:focus {
    background-color: #04365c;
}

.search-button:active {
    background-color: #04365C;
}

.search-button:active:focus, .search-button:active:hover, .search-button:focus:hover {
    background-color: #0a5994;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    justify-content: center;
    font-size: 18px;
}

@media (min-width: 768px) {

    .logo img {
        height: 70px
    }

    .logo {
        padding: 0;
    }

    .navbar-form .form-control {
        width: 100%;
        font-size: 25px;
    }

    .navbar--contaiter {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .navbar-form .form-group {
        width: 100%;
        display: flex;
        margin-right: 10px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        width: 100%;
        justify-content: flex-end;
    }

}