/*bootstrap elements*/
.container {
    padding: 0;
}
.thumbnail {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-bottom-color: #ddd;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*end of bootstrap elements*/

.thumbnail--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.thumbnail--cell {
    width: calc(100% / 4);
    text-align: center;
}

.caption {
    padding: 0;
}

.thumbnail--img {
    height: 200px;
    max-width: 100%;
    width: 242px;
    display: flex;
    margin: auto;
}

.thumbnail--price {
    font-size: 20px;
    font-weight: 600;
    color: #0A5894;
}

.thumbnail--name {
    text-align: center;
}

.thumbnail--price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loader {
    display: flex;
    margin: 200px auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0A5894;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    color: #0A5894;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .thumbnail--cell {
        width: calc(100% / 3);
    }
}
@media (min-width:  993px) {
        .thumbnail--name-details {
        min-height: 52px;
    }
}
@media (max-width: 992px) {
    .thumbnail--cell {
        width: calc(100% / 2);
    }
    .thumbnail--price {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .thumbnail--cell {
        width: 100%;
    }

}
@media (max-width: 450px){
    .thumbnail--name {
        margin: 0 auto;
    }
    .thumbnail--name-details {
        margin: 0 auto;
    }
}

@media (max-width: 320px){
    .thumbnail--name-details {
        font-size: 20px;
    }
}
