.price {
    font-size: 20px;
    font-weight: 600;
    color: #0A5894;
}

.product--img {
    height: 200px;
    width: 242px;
    display: flex;
    margin: auto;
}

.product--name {
    text-align: center;
}
.shop--img {
    height: 100px;
    width: 142px;
    display: flex;
    margin: auto;
}

.product--description {
    display: flex;
    flex: 0.75;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 2%;
    text-align: center;
}

.product--price {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loader {
    display: flex;
    margin: 200px auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0A5894;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    color: #0A5894;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 992px) {
    .price {
        font-size: 24px;
    }
}

@media (min-width: 768px) {

    .product--container {
        display: flex;
    }

    .product--info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex: 1;
    }

    .product--description {
        text-align: justify;
    }

}

