body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo {
    padding: 10px 10px;
}

.form-control {
    width: 80%;
    height: 50px;
    font-size: 25px;
}

.navbar {
    min-height: 70px;
}

.navbar-form {
    display: flex;
}

.navbar-toggle {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .navbar-form {
        display: block;
    }

    .navbar-form .form-control {
        width: 385px;
    }

    .navbar-contaiter1 {
        display: flex;
        justify-content: center;
    }
}
